# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Outputs gerados pelo modelo
*.xlsx

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml